@tailwind base;
@tailwind components;
@tailwind utilities;

textarea{
  field-sizing: content;
}

@font-face {
  font-family: 'Poppins';
  src: url('/client/src/assets/fonts/Poppins-Regular.woff2') format('woff2'),
       url('/client/src/assets/fonts/Poppins-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('ttf'),
       /* url('../assets/fonts/Poppins-Regular.woff') format('woff'); */
}