@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  field-sizing: content;
}

@font-face {
  font-family: 'Poppins';
  src: url('/client/src/assets/fonts/Poppins-Regular.woff2') format('woff2'),
       url('/client/src/assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* Mejora la carga de fuentes */
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Deloise';
  src: url('../assets/fonts/Deloise/DELOISE.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
}